{% extends "base.html" %}

<!doctype html>
<html>
    <body>
            {% block title %}{{ title }}{% endblock %}
            {% block header %}{{ title }}{% endblock %}

            {% block content %}

            {% if url_name == 'post_edit' %}
            <form method="post" action="{% url url_name username=username post_id=post_id %}" enctype="multipart/form-data">
            {% elif url_name == 'new_post'%}
            <form method="post" action="{% url url_name %}" enctype="multipart/form-data">
            {% endif %}

            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                          <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                            {{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                          <div class="col-md-6">
                              {{ field }}
                              {% if field.help_text %}
                              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                              {% endif %}
                          </div>
                </div>
            {% endfor %}

                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary"  name="mybtn" }>
                        {{ button_name }}
                    </button>
                </div>
            </form>

            {% endblock %}
    </body>
</html>